* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 17px;
  font-family: "Lexend Deca", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

option {
  max-width: 100%;
}

header .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  z-index: 10;
  width: 10%;
  right: 0;
  height: 10%;
}

header .slick-dots li button:before {
  color: #FFFFFF;
}

header .slick-dots li.slick-active button:before {
  color: #E0A612;
  border: 1px solid #E0A612;
  border-radius: 50%;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.btnPrimary {
  padding: 15px 30px;
  background: #e0a612;
  border-radius: 2px;
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
  margin-top: 40px;
}

header {
  position: relative;
}

header .header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header .header-content .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-content .header-top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

header .header-content .header-top__left .icon {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

header .header-content .header-top__left .icon .bgIcon {
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.05;
  border-radius: 2px;
}

header .header-content .header-top__left .icon i {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  color: #c4c4c4;
}

header .header-content .header-top__left .icon span {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  color: #c4c4c4;
}

header .header-content .header-top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-content .header-top__right .icon {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

header .header-content .header-top__right .icon .bgIcon {
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.05;
  border-radius: 2px;
}

header .header-content .header-top__right .icon i {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  color: #ffffff;
}

header .header-content .header-top__right .icon span {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  color: #ffffff;
}

header .header-content .header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 60%;
}

header .header-content .header-center h3 {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #ffffff;
}

header .header-content .header-bottom {
  position: absolute;
  bottom: 10%;
}

header .header-content .header-bottom i {
  color: #FFFFFF;
  opacity: 0.5;
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */