.btnPrimary {
    padding: 15px 30px;
    background: #e0a612;
    border-radius: 2px;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
    margin-top: 40px;
}
