// @mixin styleText($ff,$color,$fs,$fw) {
//     font-family: $ff;
//     color: $color;
//     font-size: $fs;
//     font-weight: $fw;
// }
@mixin bgBlur($bg) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: $bg;
    opacity: 0.6;
}

@mixin icon($colorIcon) {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
    .bgIcon {
        width: 100%;
        height: 100%;
        background: #ffffff;
        opacity: 0.05;
        border-radius: 2px;
    }
    i {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        color: $colorIcon;
    }
    span {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        color: $colorIcon;
    }
}
// mixin maxWidth
@mixin maxWidth($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

// mixin minWidth
@mixin minWidth($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}
