//Color
$color-bg-1: #FFFFFF;
$color-bg-2: #F4F4F1;
$color-bg-3: #1C2A1E;

$color-text-title: #000000;
$color-text-content: #696969;

//Font-size


//Font-weight
$fw1: 400;
$fw2: 500;
$fw3: 600;
$fw4: 700;

//Font-family
$font-primary: 'Lexend Deca', sans-serif;

