//Slick slider
header .slick-dots{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    // height: 100%;
    top: 50%;
    z-index: 10;
    width: 10%;
    right: 0;
    height: 10%;
    margin-right: 40px;
}
header .slick-dots li button:before{
    color: #FFFFFF;
    width: 16px;
    height: 16px;
}

header .slick-dots li.slick-active button:before{
    color: #E0A612 ;
    // border: 1px solid #E0A612;
    border-radius: 50%;
    outline: 1px solid #E0A612;
}
header .slick-dotted.slick-slider{
    margin-bottom: 0;
}
@media screen and (min-width:0px) {
    .container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width:576px) {
    .container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width:768px) {
    .container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width:992px) {
    .container {
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (min-width:1200px) {
    .container {
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (min-width:1280px) {
    .container {
        max-width: 1340px;
        // padding-left: 30px;
        // padding-right: 30px;
        margin: auto;

    }
}